FestivalOfTrees/FestivalOfTrees/Service References/ServiceReference1/ISUSMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ISU/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ISUSMS" targetNamespace="http://ISU/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://gfish.it.ilstu.edu:8080/ISUTextSMS/ISUSMS?xsd=1" namespace="http://ISU/" />
    </xsd:schema>
  </types>
  <message name="sendSMSISU">
    <part name="parameters" element="tns:sendSMSISU" />
  </message>
  <message name="sendSMSISUResponse">
    <part name="parameters" element="tns:sendSMSISUResponse" />
  </message>
  <message name="sendSMS">
    <part name="parameters" element="tns:sendSMS" />
  </message>
  <message name="sendSMSResponse">
    <part name="parameters" element="tns:sendSMSResponse" />
  </message>
  <message name="getCarriers">
    <part name="parameters" element="tns:getCarriers" />
  </message>
  <message name="getCarriersResponse">
    <part name="parameters" element="tns:getCarriersResponse" />
  </message>
  <portType name="ISUSMS">
    <operation name="sendSMSISU">
      <input wsam:Action="http://ISU/ISUSMS/sendSMSISURequest" message="tns:sendSMSISU" />
      <output wsam:Action="http://ISU/ISUSMS/sendSMSISUResponse" message="tns:sendSMSISUResponse" />
    </operation>
    <operation name="sendSMS">
      <input wsam:Action="http://ISU/ISUSMS/sendSMSRequest" message="tns:sendSMS" />
      <output wsam:Action="http://ISU/ISUSMS/sendSMSResponse" message="tns:sendSMSResponse" />
    </operation>
    <operation name="getCarriers">
      <input wsam:Action="http://ISU/ISUSMS/getCarriersRequest" message="tns:getCarriers" />
      <output wsam:Action="http://ISU/ISUSMS/getCarriersResponse" message="tns:getCarriersResponse" />
    </operation>
  </portType>
  <binding name="ISUSMSPortBinding" type="tns:ISUSMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sendSMSISU">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sendSMS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCarriers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ISUSMS">
    <port name="ISUSMSPort" binding="tns:ISUSMSPortBinding">
      <soap:address location="http://gfish.it.ilstu.edu:8080/ISUTextSMS/ISUSMS" />
    </port>
  </service>
</definitions>