FestivalOfTrees/FestivalOfTrees/Service References/ServiceReference1/ISUSMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ISU/" targetNamespace="http://ISU/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getCarriers" type="tns:getCarriers" />
  <xs:element name="getCarriersResponse" type="tns:getCarriersResponse" />
  <xs:element name="sendSMS" type="tns:sendSMS" />
  <xs:element name="sendSMSISU" type="tns:sendSMSISU" />
  <xs:element name="sendSMSISUResponse" type="tns:sendSMSISUResponse" />
  <xs:element name="sendSMSResponse" type="tns:sendSMSResponse" />
  <xs:complexType name="sendSMSISU">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="provider" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendSMSISUResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendSMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="provider" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendSMSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCarriers">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCarriersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>